<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
   mapper标签:配置各类声明
   namespace：名称空间，由于映射文件可能有多个，为了防止crud语句的唯一标识被重复，需要设置空间名称。
 -->
<mapper namespace="com.zhiliao.hotel.mapper.SjWeixinuserMapper">
    <resultMap id="weixinuserResultMap" type="com.zhiliao.hotel.model.SjWeixinuser">
        <!--主键的映射要单独配置 column:表中的主键的字段名称，property：对象中的对应的主键的属性名称-->
        <result column="ID" jdbcType="INTEGER" property="id" />
        <!--配置其他基本类型的属性-->
        <result column="OpenID" jdbcType="CHAR" property="openid" />
        <result column="UnionID" jdbcType="CHAR" property="unionid" />
        <result column="WXQrcodeTicket" jdbcType="CHAR" property="wxqrcodeticket" />
        <result column="WXQrcodeUpdataTime" jdbcType="INTEGER" property="wxqrcodeupdatatime" />
        <result column="AddTime" jdbcType="BIGINT" property="addtime" />
        <result column="UpdataTime" jdbcType="BIGINT" property="updatatime" />
        <result column="Status" jdbcType="TINYINT" property="status" />
        <result column="NicknName" jdbcType="CHAR" property="nicknname" />
        <result column="HeadImgUrl" jdbcType="CHAR" property="headimgurl" />
        <result column="Sex" jdbcType="TINYINT" property="sex" />
        <result column="Province" jdbcType="CHAR" property="province" />
        <result column="City" jdbcType="CHAR" property="city" />
        <result column="SubScribe" jdbcType="TINYINT" property="subscribe" />
        <result column="Remainder" jdbcType="DECIMAL" property="remainder" />
        <result column="JiFen" jdbcType="INTEGER" property="jifen" />
        <result column="is_new" jdbcType="BIT" property="isNew" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="tel" jdbcType="VARCHAR" property="tel" />
        <result column="birthday" jdbcType="DATE" property="birthday" />
        <result column="citys" jdbcType="CHAR" property="citys" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="address" jdbcType="VARCHAR" property="address" />
        <result column="money" jdbcType="DECIMAL" property="money" />
        <result column="cashmoney" jdbcType="DECIMAL" property="cashmoney" />
        <result column="perfect" jdbcType="BIT" property="perfect" />
        <result column="ComeFormID" jdbcType="INTEGER" property="comeformid" />
    </resultMap>

    <select id="" resultType="com.zhiliao.hotel.model.SjWeixinuser">
        select * from sj_weixinuser where OpenID=#{weixinOpenid}
    </select>
</mapper>