<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhiliao.hotel.mapper.ZlBannerMapper">

  <sql id="selectColumn">
    BannerID,BannerImg,LinkUrl,BannerStatus,HotelID,MenuID,`Type`,`Position`,Sort,CheckStatus,VisitCount,VideoPosition

  </sql>

  <select id="findBanner" resultType="com.zhiliao.hotel.model.ZlBanner">

   SELECT <include refid="selectColumn"/> FROM zl_banner WHERE  HotelID = #{hotelID} and MenuID = #{menuID} and  BannerStatus = 1 and IsDelete = 0  LIMIT 5

  </select>

  <select id="findByPlaBanner" resultType="com.zhiliao.hotel.model.ZlBanner">

   select  <include refid="selectColumn"/>  from zl_banner where hotelID = 0 and  BannerStatus = 1 and IsDelete = 0 order by Sort DESC limit 0, #{page}

  </select>

</mapper>