<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhiliao.hotel.mapper.ZlCartMapper">
    <resultMap id="BaseResultMap" type="com.zhiliao.hotel.model.ZlCart">
        <result column="CartID" jdbcType="BIGINT" property="cartid" />
        <result column="UserID" jdbcType="BIGINT" property="userid" />
        <result column="HotelID" jdbcType="INTEGER" property="hotelid" />
        <result column="HotelGoodsSkuID" jdbcType="INTEGER" property="hotelgoodsskuid" />
        <result column="GoodsCount" jdbcType="INTEGER" property="goodscount" />
        <result column="BelongModule" jdbcType="SMALLINT" property="belongmodule" />
        <result column="CreateDate" jdbcType="INTEGER" property="createdate" />
        <result column="UpdateDate" jdbcType="INTEGER" property="updatedate" />
    </resultMap>

    <delete id="emptyUserCart">
        delete from zl_cart where HotelID=#{hotelId} and UserID=#{userId}
        <if test="belongModule != 0">
            and BelongModule=#{belongModule}
        </if>
    </delete>

    <insert id="addUserCartBatch" parameterType="java.util.List" useGeneratedKeys="false">
        insert into zl_cart
        (UserID,HotelID,HotelGoodsSkuID,GoodsCount,BelongModule,CreateDate,UpdateDate)
        values
        <foreach collection="addCartParams" item="item" index="index" separator=",">
            (#{userId},#{hotelId},#{item.hotelGoodsSkuId},#{item.goodsCount},#{item.belongModule},#{date},#{date})
        </foreach>
    </insert>

    <select id="findUserCart" resultType="com.zhiliao.hotel.controller.cart.vo.UserCartVo">
        select
            zc.CartID,
            zc.HotelGoodsSkuID,
            zg.GoodsName,
            zg.CoverImgUrl,
            zgp.PropertyName,
            zgs.OriginalPrice,
            zgs.CurrentPrice,
            zc.GoodsCount,
            zc.BelongModule
        from zl_cart zc
        left join zl_hotelgoodssku zhgs on zc.HotelGoodsSkuID=zhgs.HotelGoodsSkuID
        left join zl_goods zg on zhgs.GoodsID=zg.GoodsID
        left join zl_goodssku zgs on zhgs.SkuID=zgs.SkuID
        left join zl_goodsproperty zgp on zgs.PropertyID=zgp.PropertyID
        where zhgs.IsDelete=0 and zg.GoodsStatus!='-1' and zgs.IsDelete=0 and zgp.IsDelete=0
        and zc.UserID=#{userId} and zc.HotelID=#{hotelId}
        order by zc.BelongModule asc,zg.GoodsName desc
    </select>
</mapper>