<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhiliao.hotel.mapper.ZlCartMapper">
    <resultMap id="BaseResultMap" type="com.zhiliao.hotel.model.ZlCart">
        <result column="CartID" jdbcType="BIGINT" property="cartid"/>
        <result column="UserID" jdbcType="BIGINT" property="userid"/>
        <result column="HotelID" jdbcType="INTEGER" property="hotelid"/>
        <result column="SkuID" jdbcType="INTEGER" property="skuid"/>
        <result column="HotelGoodsID" jdbcType="INTEGER" property="hotelgoodsid"/>
        <result column="GoodsCount" jdbcType="INTEGER" property="goodscount"/>
        <result column="BelongModule" jdbcType="SMALLINT" property="belongmodule"/>
        <result column="CreateDate" jdbcType="INTEGER" property="createdate"/>
        <result column="UpdateDate" jdbcType="INTEGER" property="updatedate"/>
    </resultMap>

    <delete id="deleteUserCart">
        delete from zl_cart where HotelID=#{hotelId} and UserID=#{userId}
    </delete>

    <insert id="addUserCartBatch" parameterType="java.util.List" useGeneratedKeys="false">
        insert into zl_cart
        (UserID,HotelID,HotelGoodsSkuID,GoodsCount,BelongModule,CreateDate,UpdateDate)
        values
        <foreach collection="addCartParams" item="item" index="index" separator=",">
            (#{userId},#{hotelId},#{item.hotelGoodsSkuId},#{item.goodsCount},#{item.belongModule},#{date},#{date})
        </foreach>
    </insert>

    <select id="findUserCart" resultType="com.zhiliao.hotel.controller.cart.vo.UserCartVo">

    </select>
</mapper>