<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhiliao.hotel.mapper.ZlCheckoutOrderMapper">

    <update id="cancelCheckoutOrder">
        UPDATE
          zl_checkoutorder
        SET
          OrderStatus = -1,
          UpdateDate = #{updateDate}
        WHERE OrderID = #{orderID}
    </update>

    <update id="userDeleteCheckoutOrder">
        UPDATE
          zl_checkoutorder
        SET
          IsUserDelete = 1,
          UpdateDate = #{updateDate}
        WHERE OrderID = #{orderID}
    </update>

    <select id="checkoutOrderDetail" resultType="com.zhiliao.hotel.model.ZlCheckoutOrder">
        select
          OrderID,
          OrderSerialNo,
          UserName,
          Tel,
          OrderStatus,
          CheckOutDate,
          Remark,
          CreateDate,
          UpdateDate
        from
          zl_checkoutorder
        where
          OrderID = #{orderID} and IsUserDelete = 0 and IsDelete = 0
    </select>

</mapper>