<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiliao.hotel.mapper.ZlCleanOrderMyMapper">
  <resultMap id="BaseResultMap" type="com.zhiliao.hotel.model.ZlCleanOrder">
    <id column="OrderID" jdbcType="BIGINT" property="orderid" />
    <result column="UserID" jdbcType="BIGINT" property="userid" />
    <result column="SerialNumber" jdbcType="CHAR" property="serialnumber" />
    <result column="HotelID" jdbcType="INTEGER" property="hotelid" />
    <result column="HotelName" jdbcType="CHAR" property="hotelname" />
    <result column="RoomID" jdbcType="INTEGER" property="roomid" />
    <result column="RoomNumber" jdbcType="CHAR" property="roomnumber" />
    <result column="ComeFormID" jdbcType="INTEGER" property="comeformid" />
    <result column="BookDate" jdbcType="INTEGER" property="bookdate" />
    <result column="Remark" jdbcType="CHAR" property="remark" />
    <result column="OrderStatus" jdbcType="TINYINT" property="orderstatus" />
    <result column="IsDelete" jdbcType="BIT" property="isdelete" />
    <result column="CreateDate" jdbcType="INTEGER" property="createdate" />
    <result column="UpdateDate" jdbcType="INTEGER" property="updatedate" />
  </resultMap>


  <select id="OrderDetail" resultType="com.zhiliao.hotel.model.ZlCleanOrder">
    select OrderID,RoomNumber,BookDate,OrderStatus, UpdateDate from zl_cleanorder where OrderID = #{orderID}
  </select>

  <select id="findAllByStatus" resultType="com.zhiliao.hotel.model.ZlCleanOrder">
    select
    OrderID,HotelName,UserID,SerialNumber,BookDate,OrderStatus,CreateDate
    from zl_cleanorder
    where 1 = 1 and IsDelete = '0'
    <if test="userId != null">
      and UserID = #{userId}
    </if>
    <if test="orderstatus != null">
      and OrderStatus = #{orderstatus}
    </if>
    order by CreateDate DESC
  </select>

</mapper>