<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiliao.hotel.mapper.ZlCouponMapper">

    <select id="findByRecID" resultType="com.zhiliao.hotel.controller.myOrder.vo.CouponUserVO">
        SELECT
          zcu.CouponID,
          zcu.UserID,
          zc.DiscountMoney
        FROM
          zl_couponuser zcu
          LEFT JOIN zl_coupon zc
            ON zcu.CouponID = zc.CouponID
        WHERE zcu.RecID = #{recID}
        LIMIT 1
   </select>

</mapper>