<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiliao.hotel.mapper.ZlCommentMapper">
  <resultMap id="BaseResultMap" type="com.zhiliao.hotel.model.ZlComment">
    <id column="CommentID" jdbcType="INTEGER" property="commentid" />
    <result column="HotelID" jdbcType="INTEGER" property="hotelid" />
    <result column="UserID" jdbcType="BIGINT" property="userid" />
    <result column="Evaluation" jdbcType="TINYINT" property="evaluation" />
    <result column="TagIDs" jdbcType="VARCHAR" property="tagids" />
    <result column="Content" jdbcType="VARCHAR" property="content" />
    <result column="Type" jdbcType="TINYINT" property="type" />
    <result column="CommentStatus" jdbcType="TINYINT" property="commentstatus" />
    <result column="IsDelete" jdbcType="BIT" property="isdelete" />
    <result column="CreateDate" jdbcType="INTEGER" property="createdate" />
    <result column="UpdateDate" jdbcType="INTEGER" property="updatedate" />
  </resultMap>

  <insert id="addComment" parameterType="com.zhiliao.hotel.model.ZlComment">
    insert into zl_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commentid != null">
        CommentID,
      </if>
      <if test="hotelid != null">
        HotelID,
      </if>
      <if test="userid != null">
        UserID,
      </if>
      <if test="evaluation != null">
        Evaluation,
      </if>
      <if test="tagids != null">
        TagIDs,
      </if>
      <if test="content != null">
        Content,
      </if>
      <if test="type != null">
        Type,
      </if>
      <if test="commentstatus != null">
        CommentStatus,
      </if>
      <if test="isdelete != null">
        IsDelete,
      </if>
      <if test="createdate != null">
        CreateDate,
      </if>
      <if test="updatedate != null">
        UpdateDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="commentid != null">
        #{commentid,jdbcType=INTEGER},
      </if>
      <if test="hotelid != null">
        #{hotelid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="evaluation != null">
        #{evaluation,jdbcType=TINYINT},
      </if>
      <if test="tagids != null">
        #{tagids,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="commentstatus != null">
        #{commentstatus,jdbcType=TINYINT},
      </if>
      <if test="isdelete != null">
        #{isdelete,jdbcType=BIT},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=INTEGER},
      </if>
      <if test="updatedate != null">
        #{updatedate,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

</mapper>