<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhiliao.hotel.mapper.ZlContinueLiveOrderMapper">

    <update id="cancelContinueLiveOrder">
        UPDATE
          zl_continueliveorder
        SET
          OrderStatus = -1,
          UpdateDate = #{updateDate},
          CancelUserType = 1,
          CancelRemark = '用户取消'
        WHERE OrderID = #{orderID}
    </update>

    <update id="userDeleteContinueLiveOrder">
        UPDATE
          zl_continueliveorder
        SET
          IsUserDelete = 1,
          UpdateDate = #{updateDate}
        WHERE OrderID = #{orderID}
    </update>

    <select id="continueLiveOrderDetail" resultType="com.zhiliao.hotel.controller.myAppointment.dto.ZlContinueLiveOrderDTO">
        SELECT
          OrderID,
          OrderSerialNo,
          UserName,
          Tel,
          OrderStatus,
          CASE
              OrderStatus
              WHEN - 1
              THEN '已取消'
              WHEN 0
              THEN '待处理'
              WHEN 1
              THEN '处理完成'
              WHEN 2
              THEN '已接单'
            END StatusMessage,
          ContinueLiveDate,
          CheckOutDate,
          CreateDate,
          UpdateDate
        FROM
          zl_continueliveorder
        WHERE OrderID = #{orderID}
          AND IsDelete = 0
          AND IsUserDelete = 0
    </select>
    <select id="selectToPhp" resultType="com.zhiliao.hotel.controller.hotellive.vo.ZlContinueLiveOrderToPhpVO">
        select * from zl_continueliveorder where OrderID = #{orderid}
    </select>

</mapper>