<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhiliao.hotel.mapper.ZlContinueLiveOrderMapper">

    <update id="cancelContinueLiveOrder">
        UPDATE
          zl_continueliveorder
        SET
          OrderStatus = -1,
          UpdateDate = #{updateDate}
        WHERE OrderID = #{orderID}
    </update>

    <update id="userDeleteContinueLiveOrder">
        UPDATE
          zl_continueliveorder
        SET
          IsUserDelete = 1,
          UpdateDate = #{updateDate}
        WHERE OrderID = #{orderID}
    </update>

    <select id="continueLiveOrderDetail" resultType="com.zhiliao.hotel.model.ZlContinueLiveOrder">
        select
          OrderID,
          OrderSerialNo,
          UserName,
          Tel,
          OrderStatus,
          ContinueLiveDate,
          CheckOutDate,
          CreateDate,
          UpdateDate
        from
          zl_continueliveorder
        where
          OrderID = #{orderID} and IsDelete = 0 and IsUserDelete = 0
    </select>

</mapper>