<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiliao.hotel.mapper.ZlGoodsMapper">

    <select id="findGoodsCategory" resultType="java.util.LinkedHashMap">
        select
            zgc.CategoryName,
            case zg.IsRecommand when 0 then '不推荐' when 1 then '推荐' end IsRecommand
        from zl_hotelgoodssku zhgs
        left join zl_goods zg on zhgs.GoodsID=zg.GoodsID
        left join zl_goodscategory zgc on zg.GoodsCategoryID=zgc.GoodsCategoryID
        where zhgs.IsDelete=0 and zhgs.IsDefault=1 and zg.GoodsStatus!='-1' and zgc.IsDelete=0 and zgc.CategoryStatus=1
        and zhgs.HotelID=#{hotelId} and zgc.BelongModule=#{belongModule}
        order by zgc.Sort asc
    </select>

    <select id="findGoodsList" resultType="com.zhiliao.hotel.controller.goods.vo.GoodsListVo">
        select
            zhgs.HotelGoodsSkuID,
            zg.GoodsName,
            zg.CoverImgUrl,
            zg.OriginalPrice,
            zg.CurrentPrice,
            zhgs.SoldCount,
            zhgs.VirtualSoldCount
        from zl_hotelgoodssku zhgs
        left join zl_goods zg on zhgs.GoodsID=zg.GoodsID
        left join zl_goodscategory zgc on zg.GoodsCategoryID=zgc.GoodsCategoryID
        where zhgs.IsDelete=0 and zhgs.IsDefault=1 and zg.GoodsStatus!='-1' and zgc.IsDelete=0 and zgc.CategoryStatus=1
        and zhgs.HotelID=#{hotelId} and zgc.BelongModule=#{belongModule}
        <if test='categoryName!="all"'>
            <choose>
                <when test='categoryName=="推荐"'>
                    and zg.IsRecommand=1
                </when>
                <otherwise>
                    and zgc.CategoryName=#{categoryName}
                </otherwise>
            </choose>
        </if>
        order by zg.Sort asc
    </select>

    <select id="findGoodsSkuList" resultType="com.zhiliao.hotel.controller.goods.vo.GoodsSkuListVo">
        select
            zhgs.HotelGoodsSkuID,
            zgp.PropertyName,
            zgs.OriginalPrice,
            zgs.CurrentPrice,
            zhgs.StockCount
        from zl_hotelgoodssku zhgs
        left join zl_goodssku zgs on zhgs.SkuID=zgs.SkuID
        left join zl_goodsproperty zgp on zgs.PropertyID=zgp.PropertyID
        where zhgs.IsDelete=0 and zgp.IsDelete=0
        and zhgs.GoodsID=(select a.GoodsID from zl_hotelgoodssku a where a.HotelGoodsSkuID=#{hotelGoodsSkuId})
        order by zgp.PropertyName desc
    </select>

    <!--根据商品id商品详情数据-->
    <select id="findGoodsDetail" resultType="com.zhiliao.hotel.controller.goods.vo.GoodsListVo">
      SELECT
          zg.GoodsID,
          zg.CoverImgUrl,
          zg.GoodsName,
          zg.OriginalPrice,
          zg.CurrentPrice,
          zg.TotalSoldCount,
          zg.TotalVirtualSoldCount,
          zg.Content,
          zg.TotalVisitCount
        FROM
          zl_goods zg
        WHERE zg.GoodsID = #{goodsID}
    </select>

    <!--根据商品id更新商品点击量-->
    <update id="updateTotalVisitCount">
      UPDATE
          zl_goods
        SET
          zl_goods.TotalVisitCount = #{totalvisitcount} +1
        WHERE zl_goods.GoodsID = #{goodsID}
    </update>

    <update id="updateGoods">
        UPDATE
          zl_goods
        SET
          TotalStockCount = TotalStockCount - #{goodsCount},
          TotalSoldCount = TotalSoldCount + #{goodsCount},
          RealtimeStockCount = RealtimeStockCount - #{goodsCount}
        WHERE GoodsID =
        (SELECT
            GoodsID
          FROM
            zl_hotelgoodssku
          WHERE HotelGoodsSkuID = #{hotelGoodsSkuID})
    </update>

    <update id="updateGoodsSku">
        UPDATE
          zl_goodssku
        SET
          StockCount = StockCount - #{goodsCount},
          SoldCount = SoldCount + #{goodsCount}
        WHERE SkuID =
        (SELECT
            SkuID
          FROM
            zl_hotelgoodssku
          WHERE HotelGoodsSkuID = #{hotelGoodsSkuID})
    </update>

    <update id="updateHotelGoodsSku">
        UPDATE
          zl_hotelgoodssku
        SET
          StockCount = StockCount - #{goodsCount},
          SoldCount = SoldCount + #{goodsCount}
        WHERE HotelGoodsSkuID = #{hotelGoodsSkuID}
    </update>

</mapper>