<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiliao.hotel.mapper.ZlGoodsMapper">

    <resultMap id="BaseResultMap" type="com.zhiliao.hotel.model.ZlHotelgoodssku">
        <result column="HotelGoodsSkuID" jdbcType="INTEGER" property="hotelgoodsskuid"/>
        <result column="SkuID" jdbcType="INTEGER" property="skuid"/>
        <result column="GoodsID" jdbcType="INTEGER" property="goodsid"/>
        <result column="HotelID" jdbcType="INTEGER" property="hotelid"/>
        <result column="StockCount" jdbcType="INTEGER" property="stockcount"/>
        <result column="SoldCount" jdbcType="INTEGER" property="soldcount"/>
        <result column="VirtualSoldCount" jdbcType="INTEGER" property="virtualsoldcount"/>
        <result column="IsDefault" jdbcType="BIT" property="isdefault"/>
        <result column="IsDelete" jdbcType="BIT" property="isdelete"/>
        <result column="CreateDate" jdbcType="INTEGER" property="createdate"/>
        <result column="UpdateDate" jdbcType="INTEGER" property="updatedate"/>
    </resultMap>

    <select id="findGoodsCategory" resultType="java.util.LinkedHashMap">
        SELECT
          zgc.CategoryName,
          CASE
            zg.IsRecommand
            WHEN 0
            THEN '不推荐'
            WHEN 1
            THEN '推荐'
          END IsRecommand
        FROM
          zl_hotelgoodssku zhgs
          LEFT JOIN zl_goods zg
            ON zhgs.GoodsID = zg.GoodsID
          LEFT JOIN zl_goodscategory zgc
            ON zg.GoodsCategoryID = zgc.GoodsCategoryID
        WHERE zhgs.IsDelete = 0
          AND (
            zg.GoodsStatus = 0
            OR zg.GoodsStatus = 1
          )
          AND zgc.IsDelete = 0
          AND zgc.CategoryStatus = 1
          AND zhgs.HotelID = #{hotelId}
          AND zgc.BelongModule = #{belongModule}
        ORDER BY zgc.Sort ASC
    </select>

    <select id="findGoodsList" resultType="com.zhiliao.hotel.controller.goods.vo.GoodsListVo">
        SELECT
        zhgs.HotelGoodsSkuID,
        zhgs.GoodsID,
        zg.GoodsName,
        zg.CoverImgUrl,
        MIN(zgs.`OriginalPrice`) OriginalPrice,
        MIN(zgs.`CurrentPrice`) CurrentPrice,
        zg.GoodsStatus,
        zg.SupplierID,
        SUM(zhgs.SoldCount) SoldCount,
        SUM(zhgs.VirtualSoldCount) VirtualSoldCount,
        zgc.BelongModule,
        SUM(zhgs.`StockCount`) StockCount,
        zhgs.HotelID
        FROM
        zl_hotelgoodssku zhgs
        LEFT JOIN zl_goods zg
        ON zhgs.GoodsID = zg.GoodsID
        LEFT JOIN zl_goodscategory zgc
        ON zg.GoodsCategoryID = zgc.GoodsCategoryID
        LEFT JOIN zl_goodssku zgs
        ON zgs.GoodsID = zg.GoodsID
        WHERE zhgs.IsDelete = 0
        AND zgc.IsDelete = 0
        AND zgc.CategoryStatus = 1
        AND zhgs.HotelID = 4
        AND zgc.BelongModule = #{belongModule}
        AND (
        zg.GoodsStatus = 0
        OR zg.GoodsStatus = 1
        )
        AND zg.CheckStatus = 2
        AND zg.IsDelete = 0
        <if test='categoryName!="全部"'>
            <choose>
                <when test='categoryName=="推荐"'>
                    and zg.IsRecommand=1
                </when>
                <otherwise>
                    and zgc.CategoryName=#{categoryName}
                </otherwise>
            </choose>
        </if>
        GROUP BY zg.GoodsName
        order by zg.Sort asc
    </select>

    <select id="findGoodsSkuList" resultType="com.zhiliao.hotel.controller.goods.vo.GoodsSkuListVo">
        SELECT
          zg.GoodsID,
          zgs.PropertyID,
          zg.BelongModule,
          zg.CoverImgUrl,
          zg.GoodsName
        FROM
          zl_hotelgoodssku zhgs
          LEFT JOIN zl_goodssku zgs
            ON zhgs.SkuID = zgs.SkuID
          LEFT JOIN zl_goods zg
            ON zg.GoodsID = zhgs.GoodsID
        WHERE zhgs.IsDelete = 0
          AND zgs.IsDelete = 0
          AND zhgs.HotelID = #{hotelId}
          AND zhgs.GoodsID = #{goodsId}
        ORDER BY zg.GoodsID ASC
    </select>

    <select id="findGoodsDetail" resultType="com.zhiliao.hotel.controller.goods.vo.GoodsListVo">
        SELECT
          zg.GoodsID,
          zg.CoverImgUrl,
          zg.GoodsName,
          MIN(zgs.OriginalPrice) OriginalPrice,
          MIN(zgs.CurrentPrice) CurrentPrice,
          SUM(zhg.`StockCount`) StockCount,
          SUM(zhg.`SoldCount`) SoldCount,
          SUM(zhg.`VirtualSoldCount`) VirtualSoldCount,
          zg.Content,
          zgc.BelongModule,
          zhg.HotelID,
          zhg.HotelGoodsSkuID
        FROM
          zl_goods zg
          LEFT JOIN zl_goodscategory zgc
            ON zg.GoodsCategoryID = zgc.GoodsCategoryID
          LEFT JOIN zl_hotelgoodssku zhg
            ON zg.GoodsID = zhg.GoodsID
          LEFT JOIN zl_goodssku zgs
            ON zg.GoodsID = zgs.GoodsID
        WHERE zg.GoodsStatus != '-1'
          AND zg.GoodsID = #{goodsId}
    </select>

    <update id="updateGoodsTotalVisitCount">
      update zl_goods set TotalVisitCount = TotalVisitCount + 1 where GoodsID = #{goodsId}
    </update>

    <select id="findRecommendGoodsList" resultType="com.zhiliao.hotel.controller.goods.vo.GoodsListVo">
        select
          zhgs.`HotelGoodsSkuID`,
          zg.`GoodsID`,
          zg.`GoodsName`,
          zg.`CoverImgUrl`,
          MIN(zgs.`OriginalPrice`) OriginalPrice,
          MIN(zgs.`CurrentPrice`) CurrentPrice,
          SUM(zhgs.`SoldCount`) SoldCount,
          sum(zhgs.`VirtualSoldCount`) VirtualSoldCount,
          zg.`Content`,
          zg.`BelongModule`,
          SUM(zhgs.`StockCount`) StockCount,
          zhgs.`HotelID`,
          zg.`SupplierID`,
          zg.`GoodsStatus`
        from
          zl_hotelgoodssku zhgs
          LEFT JOIN zl_goodssku zgs
            ON zhgs.GoodsID = zgs.GoodsID
          LEFT JOIN zl_goods zg
            ON zgs.GoodsID = zg.GoodsID
        WHERE zhgs.IsDelete = 0
          AND zgs.IsDelete = 0
          AND zg.CheckStatus = 2
          AND zg.IsDelete = 0
          and zg.IsRecommand = 1
          AND (
            zg.GoodsStatus = 0
            OR zg.GoodsStatus = 1
          )
          AND zhgs.HotelID = 4
        GROUP BY zg.GoodsName
        LIMIT 50
    </select>

    <update id="updateGoods">
        UPDATE
          zl_goods
        SET
          TotalStockCount = TotalStockCount - #{goodsCount},
          TotalSoldCount = TotalSoldCount + #{goodsCount},
          RealtimeStockCount = RealtimeStockCount - #{goodsCount},
          UpdateDate = #{currertTime}
        WHERE GoodsID =
        (SELECT
            GoodsID
          FROM
            zl_hotelgoodssku
          WHERE HotelGoodsSkuID = #{hotelGoodsSkuID})
    </update>

    <update id="updateGoodsSku">
        UPDATE
          zl_goodssku
        SET
          StockCount = StockCount - #{goodsCount},
          SoldCount = SoldCount + #{goodsCount},
          UpdateDate = #{currertTime}
        WHERE SkuID =
        (SELECT
            SkuID
          FROM
            zl_hotelgoodssku
          WHERE HotelGoodsSkuID = #{hotelGoodsSkuID})
    </update>

    <update id="updateHotelGoodsSku">
        UPDATE
          zl_hotelgoodssku
        SET
          StockCount = StockCount - #{goodsCount},
          SoldCount = SoldCount + #{goodsCount},
          UpdateDate = #{currertTime}
        WHERE HotelGoodsSkuID = #{hotelGoodsSkuID}
    </update>

    <select id="getStockCount" resultType="integer">
        SELECT StockCount FROM zl_hotelgoodssku WHERE HotelID = #{hotelID} AND HotelGoodsSkuID = #{hotelGoodsSkuID}
    </select>

    <select id="findSkuCount" resultType="int">
        SELECT
          COUNT(HotelGoodsSkuID)
        FROM
          zl_hotelgoodssku
        WHERE GoodsID = #{goodsId}
    </select>

    <select id="getByHotelIDAndGoodsID" resultType="int">
        SELECT
          SUM(StockCount)
        FROM
          zl_hotelgoodssku
        WHERE GoodsID = #{goodsid}
          AND HotelID = #{hotelid}
    </select>

    <select id="findGoodsSku" resultType="com.zhiliao.hotel.controller.goods.vo.GoodsSkuVO">
        SELECT
          PropertyID,
          PropertyName,
          ImgUrl,
          CategoryID
        FROM
          zl_goodsproperty
        WHERE PropertyID = #{propertyId}
          AND IsDelete = 0
          LIMIT 1
    </select>

    <select id="findGoodsPropertyIdInfo" resultType="com.zhiliao.hotel.controller.goods.vo.GoodsPropertyInfoVO">
        SELECT
          zhgs.HotelGoodsSkuID,
          zhgs.StockCount,
          zhgs.SoldCount,
          zhgs.VirtualSoldCount,
          zgs.OriginalPrice,
          zgs.CurrentPrice,
          zgs.PropertyID
        FROM
          zl_hotelgoodssku zhgs
          LEFT JOIN zl_goodssku zgs
            ON zhgs.SkuID = zgs.SkuID
        WHERE zhgs.GoodsID = #{goodsId}
          AND zhgs.HotelID = #{hotelId}
          AND zhgs.IsDelete = 0
          AND zgs.IsDelete = 0
    </select>

    <update id="updateGoodsReturn">
        UPDATE
          zl_goods
        SET
          TotalStockCount = TotalStockCount + #{goodsCount},
          TotalSoldCount = TotalSoldCount - #{goodsCount},
          RealtimeStockCount = RealtimeStockCount + #{goodsCount},
          UpdateDate = #{currertTime}
        WHERE GoodsID =
        (SELECT
            GoodsID
          FROM
            zl_hotelgoodssku
          WHERE HotelGoodsSkuID = #{hotelGoodsSkuID})
    </update>

    <update id="updateGoodsSkuReturn">
        UPDATE
          zl_goodssku
        SET
          StockCount = StockCount + #{goodsCount},
          SoldCount = SoldCount - #{goodsCount},
          UpdateDate = #{currertTime}
        WHERE SkuID =
        (SELECT
            SkuID
          FROM
            zl_hotelgoodssku
          WHERE HotelGoodsSkuID = #{hotelGoodsSkuID})
    </update>

    <update id="updateHotelGoodsSkuReturn">
         UPDATE
          zl_hotelgoodssku
        SET
          StockCount = StockCount + #{goodsCount},
          SoldCount = SoldCount - #{goodsCount},
          UpdateDate = #{currertTime}
        WHERE HotelGoodsSkuID = #{hotelGoodsSkuID}
    </update>

    <select id="findSelectedGoodsProperty" resultType="com.zhiliao.hotel.controller.goods.vo.GoodsPropertyInfoVO">
        SELECT
          zhgs.HotelGoodsSkuID,
          zhgs.StockCount,
          zhgs.SoldCount,
          zhgs.VirtualSoldCount,
          zgs.OriginalPrice,
          zgs.CurrentPrice,
          zgs.PropertyID
        FROM
          zl_hotelgoodssku zhgs
          LEFT JOIN zl_goodssku zgs
            ON zhgs.SkuID = zgs.SkuID
        WHERE zhgs.HotelGoodsSkuID = #{hotelGoodsSkuId}
          AND zhgs.IsDelete = 0
          AND zgs.IsDelete = 0
    </select>

    <select id="searchGoods" resultType="com.zhiliao.hotel.controller.goods.vo.EsGoodsVO">
        SELECT
        zg.`GoodsID`,
        zg.`GoodsName`,
        zg.`CoverImgUrl`,
        MIN(zgs.`OriginalPrice`) OriginalPrice,
        MIN(zgs.`CurrentPrice`) CurrentPrice,
        zg.`GoodsCategoryID`,
        zg.`BelongModule`,
        zg.GoodsStatus,
        zhgs.`HotelID`,
        SUM(zhgs.`StockCount`) StockCount
        FROM
        zl_hotelgoodssku zhgs
        LEFT JOIN zl_goodssku zgs
        ON zhgs.GoodsID = zgs.GoodsID
        LEFT JOIN zl_goods zg
        ON zgs.GoodsID = zg.GoodsID
        WHERE zhgs.IsDelete = 0
        AND zgs.IsDelete = 0
        AND zg.CheckStatus = 2
        AND zg.IsDelete = 0
        AND (
        zg.GoodsStatus = 0
        OR zg.GoodsStatus = 1
        )
        AND zg.GoodsName LIKE concat('%',#{selectParam},'%')
        <if test="belongModule != 0">
            AND zg.`BelongModule` = #{belongModule}
        </if>
        GROUP BY zg.GoodsName
    </select>

</mapper>