<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiliao.hotel.mapper.ZlHotelRoomQrcodeMapper">

    <select id="getRoomQrcodeId" resultType="com.zhiliao.hotel.model.ZlHotelRoomQrcode">
        SELECT
          QrCodeID,
          QrCodeUrl,
          HotelID,
          RoomID,
          SerialNumber,
          UseDate,
          STATUS
        FROM
          zl_hotelroomqrcode
        WHERE Status = 1
          AND IsBind = 1
          AND IsDelete = 0
          AND QrCodeID = #{codeId}
    </select>
</mapper>
