<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiliao.hotel.mapper.ZlHotelUserHistoryMapper">
    <resultMap id="BaseResultMap" type="com.zhiliao.hotel.model.ZlHotelUserHistory">
        <result column="RecID" jdbcType="BIGINT" property="recid"/>
        <result column="UserID" jdbcType="BIGINT" property="userid"/>
        <result column="HotelID" jdbcType="INTEGER" property="hotelid"/>
        <result column="HotelName" jdbcType="CHAR" property="hotelname"/>
        <result column="RoomID" jdbcType="INTEGER" property="roomid"/>
        <result column="RoomNumber" jdbcType="CHAR" property="roomnumber"/>
        <result column="CheckInDate" jdbcType="INTEGER" property="checkindate"/>
        <result column="CreateDate" jdbcType="INTEGER" property="createdate"/>
    </resultMap>

    <select id="getHotelHistoryList" resultType="com.zhiliao.hotel.model.ZlHotelUserHistory">
        SELECT
          zhh.RecID,
          zhh.UserID,
          zhh.HotelID,
          zhh.HotelName,
          zhh.RoomID,
          zhh.RoomNumber,
          zhh.CheckInDate,
          zhq.QrCodeID
        FROM
          zl_hoteluserhistory zhh
          LEFT JOIN zl_hotelroomqrcode zhq
            ON zhh.RoomID = zhq.RoomID
        WHERE zhh.UserID = #{userid}
          AND zhh.IsUserDelete = 0
          AND zhh.IsDelete = 0
        ORDER BY zhh.CheckInDate DESC
    </select>
    <update id="userDeleteHotelHistory">
       UPDATE
          zl_hoteluserhistory
        SET
          IsUserDelete = 1
        WHERE RecID = #{recId}
    </update>
</mapper>