<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiliao.hotel.mapper.ZlHotelMapper">

    <select id="getById"
            resultType="com.zhiliao.hotel.model.ZlHotel">

        select
          HotelID,HotelName,CoverUrl,JoinType,Tel,
          MaxCreditMoney,HotelType,HotelStatus,ExtID,HotelNameAbbr,
          ReceptionTel,JoinDate,PullOffDate,JoinStatus,TerminateDate
        from zl_hotel
        where HotelID=#{hotelId} and HotelStatus=1 and IsDelete=0 order by CreateDate desc
    </select>

    <select id="getReceptionTel" resultType="java.lang.String">
        select
          ReceptionTel
        from zl_hotel
        where HotelID=#{hotelId} and HotelStatus=1 and IsDelete=0
    </select>

    <select id="getHotelMoney" resultType="com.zhiliao.hotel.controller.hotel.vo.HotelMoneyVO">
        SELECT
          MinSendCash,
          SendCash
        FROM
          zl_hoteldetail
        WHERE HotelID = #{hotelId}
    </select>

    <select id="getServiceTime" resultType="byte">
        SELECT
          ServiceTime
        FROM
          zl_hoteldetail
        WHERE HotelID = 4
          AND IsDelete = 0
    </select>

</mapper>
