<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiliao.hotel.mapper.ZlHotelRoomMapper">

    <sql id="selectColumn">
        RoomID,RoomTypeID,zm.HotelID,RoomFloor,RoomNumber,Model,WiFiName,WiFiPwd,RoomStatus,SerialNumber,RoomTypeFlag
    </sql>

    <select id="getById" resultType="com.zhiliao.hotel.model.ZlHotelroom">

        select
        <include refid="selectColumn"/>
        from zl_hotelroom zm where (RoomID =#{roomId} and zm.IsDelete=0
        and zm.HotelID =(select zh.HotelID FROM zl_hotel zh where zh.HotelID=#{hotelId})) and RoomTypeFlag=1
        order by zm.CreateDate desc

    </select>

    <select id="getByHotelIDAndRoomNumber" resultType="com.zhiliao.hotel.model.ZlHotelroom">

        SELECT
        <include refid="selectColumn"/>
        FROM zl_hotelroom zm
        WHERE zm.RoomNumber = #{roomNumber} AND zm.RoomStatus = 1 AND zm.IsDelete = 0
        AND zm.RoomTypeFlag = 1 AND zm.HotelID = #{hotelId}

    </select>

    <update id="updateById" parameterType="java.lang.String">
        update zl_hotelroom
        <trim prefix="set" suffix="  where RoomID=#{roomId}">
            RoomStatus=1
        </trim>
    </update>

    <select id="getByRoomNumber" resultType="com.zhiliao.hotel.model.ZlHotelroom">
        SELECT
          *
        FROM
        zl_hotelroom
        WHERE HotelID = #{hotelID}
        AND RoomNumber = #{roomNumber}
        AND RoomTypeFlag = 1
        AND IsDelete = 0
    </select>

</mapper>