<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiliao.hotel.mapper.ZlInvoiceMyMapper">
  <resultMap id="BaseResultMap" type="com.zhiliao.hotel.model.ZlInvoice">
    <result column="InvoiceID" jdbcType="INTEGER" property="invoiceid" />
    <result column="UserID" jdbcType="BIGINT" property="userid" />
    <result column="InvoiceType" jdbcType="TINYINT" property="invoicetype" />
    <result column="MainBodyType" jdbcType="TINYINT" property="mainbodytype" />
    <result column="ElectronicPaperType" jdbcType="TINYINT" property="electronicpapertype" />
    <result column="Title" jdbcType="CHAR" property="title" />
    <result column="Identifier" jdbcType="CHAR" property="identifier" />
    <result column="Tel" jdbcType="CHAR" property="tel" />
    <result column="Remark" jdbcType="VARCHAR" property="remark" />
    <result column="InvoiceStatus" jdbcType="TINYINT" property="invoicestatus" />
    <result column="Bank" jdbcType="CHAR" property="bank" />
    <result column="BankAccountNumber" jdbcType="CHAR" property="bankaccountnumber" />
    <result column="CompanyTel" jdbcType="CHAR" property="companytel" />
    <result column="CompanyAddress" jdbcType="CHAR" property="companyaddress" />
    <result column="IsDelete" jdbcType="BIT" property="isdelete" />
    <result column="CreateDate" jdbcType="INTEGER" property="createdate" />
    <result column="UpdateDate" jdbcType="INTEGER" property="updatedate" />
  </resultMap>


  <select id="findAllByUserId" resultType="com.zhiliao.hotel.model.ZlInvoice">
    select InvoiceID, UserID, InvoiceType,
    MainBodyType, Title, Identifier,
    Tel, Remark, InvoiceStatus,
    IsDelete, CreateDate, UpdateDate
    from zl_invoice
    where 1 = 1
    <if test="userId != null and userId != '' ">
      and UserID = #{userId}
    </if>
    <if test="invoicestatus != null and invoicestatus != '' ">
      and InvoiceStatus = #{invoicestatus}
    </if>
  </select>

  <select id="orderDetail" resultType="com.zhiliao.hotel.model.ZlInvoice">
    select InvoiceID, UserID, InvoiceType,
    MainBodyType, Title, Identifier,
    Tel, Remark, InvoiceStatus,
    IsDelete, CreateDate, UpdateDate
    from zl_invoice
    where InvoiceID = #{invoiceid}
  </select>
</mapper>