<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiliao.hotel.mapper.ZlOrderDetailMapper">
    
    <select id="findOrderDetails"
            parameterType="com.zhiliao.hotel.controller.myOrder.vo.OrderDetailInfoVO"
            resultType="com.zhiliao.hotel.model.ZlOrderDetail">
        
        SELECT * FROM zl_orderdetail WHERE IsDelete=0
        
        AND UserID=#{userid}
        
        <if test="orderdetailid != null">
            AND OrderDetailID = #{orderdetailid}
        </if>
        
        <if test="orderid != null">
            AND OrderID = #{orderid}
        </if>
        
        <if test="hotelGoodsID != null">
            AND HotelGoodsID = #{hotelGoodsID}
        </if>
        
        <if test="orderserialno != null">
            AND OrderSerialNo = #{orderserialno}
        </if>
        
        <if test="belongmodule != null">
            AND BelongModule = #{belongmodule}
        </if>
        
        ORDER BY CreateDate DESC
    
    </select>
    
    <select id="find2Goods"
            resultType="com.zhiliao.hotel.model.ZlOrderDetail">

        SELECT * FROM zl_orderdetail WHERE IsDelete=0 AND UserID=#{userID} AND OrderSerialNo=#{orderSerialNo} AND BelongModule=#{belongModule} ORDER BY CreateDate DESC LIMIT 2

	</select>
    
    <select id="countGoods"
            resultType="java.lang.Long">

        SELECT sum(GoodsCount) FROM zl_orderdetail WHERE IsDelete=0 AND UserID=#{userID} AND OrderSerialNo=#{orderSerialNo} AND BelongModule=#{belongModule}

	</select>
    
    <update id="updateOrderDetailUpdateDate">
        UPDATE
          zl_orderdetail
        SET
          UpdateDate = #{updateDate}
        WHERE OrderID =
          (SELECT
            OrderID
          FROM
            zl_order
          WHERE OrderSerialNo = #{out_trade_no}
            AND BelongModule = #{belongModule})
    </update>
    
    <update id="autoUpdateOrderDetailUpdateDate">
        UPDATE
          zl_orderdetail
        SET
          UpdateDate = #{updateDate}
        WHERE OrderID in
          (SELECT
            OrderID
          FROM
            zl_order
          WHERE OrderSerialNo = #{out_trade_no})
    </update>

    <update id="userDeleteOrder">
        UPDATE
          zl_orderdetail
        SET
          IsUserDelete = 1
        WHERE OrderSerialNo = #{orderSerialNo}
          AND BelongModule = #{belongModule}
    </update>

</mapper>
