<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiliao.hotel.mapper.ZlOrderMapper">

    <select id="findAllOrder" resultType="com.zhiliao.hotel.model.ZlOrder">

        SELECT * FROM zl_order WHERE UserID=#{userid}

        <if test="orderType != null">
            AND OrderType = #{orderType}
        </if>

        <if test="orderStatus != null">
            AND OrderStatus = #{orderStatus}
        </if>

        <if test="payStatus != null">
            AND PayStatus = #{payStatus}
        </if>

        <if test="payType != null">
            AND PayType = #{payType}
        </if>

        ORDER BY CreateDate DESC

    </select>

    <select id="findById" resultType="com.zhiliao.hotel.model.ZlOrder">
    select * from zl_order where OrderID = #{orderid}
  </select>
    <update id="byOrderId" parameterType="com.zhiliao.hotel.model.ZlOrder">
    update zl_order set OrderStatus = #{orderstatus},UpdateDate = #{updatedate} where OrderID = #{orderid}
  </update>

    <insert id="insertOrder" parameterType="com.zhiliao.hotel.model.ZlOrder" useGeneratedKeys="true"
            keyProperty="orderid">
        insert into zl_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <!--<if test="orderID != null">
                OrderID,
            </if>-->
            <if test="userid != null">
                UserID,
            </if>
            <if test="orderserialno != null">
                OrderSerialNo,
            </if>
            <if test="hotelid != null">
                HotelID,
            </if>
            <if test="hotelname != null">
                HotelName,
            </if>
            <if test="roomid != null">
                RoomID,
            </if>
            <if test="roomnumber != null">
                RoomNumber,
            </if>
            <if test="goodscoverurl != null">
                GoodsCoverUrl,
            </if>
            <if test="ordertype != null">
                OrderType,
            </if>
            <if test="remark != null">
                Remark,
            </if>
            <if test="totalprice != null">
                TotalPrice,
            </if>
            <if test="actuallypay != null">
                ActuallyPay,
            </if>
            <if test="paytype != null">
                PayType,
            </if>
            <if test="deliveryaddress != null">
                DeliveryAddress,
            </if>
            <if test="comeformid != null">
                ComeFormID,
            </if>
            <if test="expressid != null">
                ExpressID,
            </if>
            <if test="tracknumber != null">
                TrackNumber,
            </if>
            <if test="paystatus != null">
                PayStatus,
            </if>
            <if test="isdelete != null">
                IsDelete,
            </if>
            <if test="operatorname != null">
                OperatorName,
            </if>
            <if test="operatorip != null">
                OperatorIP,
            </if>
            <if test="operatorremark != null">
                OperatorRemark,
            </if>
            <if test="createdate != null">
                CreateDate,
            </if>
            <if test="updatedate != null">
                UpdateDate,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <!--<if test="orderID != null">
                #{orderID,jdbcType=BIGINT},
            </if>-->
            <if test="userid != null">
                #{userid,jdbcType=BIGINT},
            </if>
            <if test="orderserialno != null">
                #{orderserialno,jdbcType=CHAR},
            </if>
            <if test="hotelid != null">
                #{hotelid,jdbcType=INTEGER},
            </if>
            <if test="hotelname != null">
                #{hotelname,jdbcType=CHAR},
            </if>
            <if test="roomid != null">
                #{roomid,jdbcType=INTEGER},
            </if>
            <if test="roomnumber != null">
                #{roomnumber,jdbcType=CHAR},
            </if>
            <if test="goodscoverurl != null">
                #{goodscoverurl,jdbcType=CHAR},
            </if>
            <if test="ordertype != null">
                #{ordertype,jdbcType=TINYINT},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=CHAR},
            </if>
            <if test="totalprice != null">
                #{totalprice,jdbcType=DECIMAL},
            </if>
            <if test="actuallypay != null">
                #{actuallypay,jdbcType=DECIMAL},
            </if>
            <if test="paytype != null">
                #{paytype,jdbcType=TINYINT},
            </if>
            <if test="deliveryaddress != null">
                #{deliveryaddress,jdbcType=CHAR},
            </if>
            <if test="comeformid != null">
                #{comeformid,jdbcType=INTEGER},
            </if>
            <if test="expressid != null">
                #{expressid,jdbcType=MEDIUMINT},
            </if>
            <if test="tracknumber != null">
                #{tracknumber,jdbcType=CHAR},
            </if>
            <if test="paystatus != null">
                #{paystatus,jdbcType=TINYINT},
            </if>
            <if test="orderstatus != null">
                #{orderstatus,jdbcType=TINYINT},
            </if>
            <if test="isdelete != null">
                #{isdelete,jdbcType=BIT},
            </if>
            <if test="operatorname != null">
                #{operatorname,jdbcType=CHAR},
            </if>
            <if test="operatorip != null">
                #{operatorip,jdbcType=CHAR},
            </if>
            <if test="operatorremark != null">
                #{operatorremark,jdbcType=VARCHAR},
            </if>
            <if test="createdate != null">
                #{createdate,jdbcType=INTEGER},
            </if>
            <if test="updatedate != null">
                #{updatedate,jdbcType=INTEGER}
            </if>
        </trim>
    </insert>

    <select id="getOrderDetail" resultType="com.zhiliao.hotel.model.ZlOrderDetail">
        SELECT
          GoodsID,
          GoodsCount,
          TotalPrice
        FROM
          zl_orderdetail
        WHERE OrderID = #{out_trade_no}
        ORDER BY GoodsID ASC
    </select>

    <update id="updateOrder">
        UPDATE
          zl_order
        SET
          PayStatus = 2,
          OrderStatus = 1
        WHERE OrderSerialNo = #{out_trade_no}
    </update>

</mapper>
