<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiliao.hotel.mapper.ZlServicegoodsMapper">
    <resultMap id="BaseResultMap" type="com.zhiliao.hotel.model.ZlServicegoods">
        <result column="GoodsID" jdbcType="INTEGER" property="goodsid"/>
        <result column="HotelID" jdbcType="INTEGER" property="hotelid"/>
        <result column="GoodsCategoryID" jdbcType="INTEGER" property="goodscategoryid"/>
        <result column="CoverImgUrl" jdbcType="CHAR" property="coverimgurl"/>
        <result column="GoodsName" jdbcType="CHAR" property="goodsname"/>
        <result column="Tags" jdbcType="CHAR" property="tags"/>
        <result column="Content" jdbcType="LONGVARCHAR" property="content"/>
        <result column="ApplyMaxCount" jdbcType="INTEGER" property="applymaxcount"/>
        <result column="ApplyLimitCount" jdbcType="INTEGER" property="applylimitcount"/>
        <result column="Sort" jdbcType="INTEGER" property="sort"/>
        <result column="GoodsStatus" jdbcType="TINYINT" property="goodsstatus"/>
        <result column="CheckStatus" jdbcType="TINYINT" property="checkstatus"/>
        <result column="SalePrice" jdbcType="DECIMAL" property="saleprice"/>
        <result column="OriginalPrice" jdbcType="DECIMAL" property="originalprice"/>
        <result column="MarketPrice" jdbcType="DECIMAL" property="marketprice"/>
        <result column="VisitCount" jdbcType="INTEGER" property="visitcount"/>
        <result column="VirtualSoldCount" jdbcType="INTEGER" property="virtualsoldcount"/>
        <result column="Property" jdbcType="CHAR" property="property"/>
        <result column="IsIndexShow" jdbcType="BIT" property="isindexshow"/>
        <result column="AdminName" jdbcType="CHAR" property="adminname"/>
        <result column="IsDelete" jdbcType="BIT" property="isdelete"/>
        <result column="CreateDate" jdbcType="INTEGER" property="createdate"/>
        <result column="UpdateDate" jdbcType="INTEGER" property="updatedate"/>
    </resultMap>

    <select id="findServicegoodsCategory" resultType="java.lang.String">
        select zsgc.CategoryName from zl_servicegoods zsg
        left join zl_servicegoodscategory zsgc on zsg.GoodsCategoryID=zsgc.GoodsCategoryID
        where zsg.CheckStatus=2 and zsg.GoodsStatus=1 and zsg.IsDelete=0 and zsgc.CategoryStatus=1 and zsgc.IsDelete=0 and zsgc.CheckStatus=2
        and zsg.HotelID=#{hotelId} and zsgc.BelongModule=#{belongModule}
        group by zsgc.CategoryName
        order by zsgc.Sort asc,zsgc.UpdateDate desc
    </select>

    <select id="findServicegoodsList" resultType="com.zhiliao.hotel.controller.servicegoods.vo.ServicegoodsListVo">
        select
        zsg.GoodsID,
        zsg.GoodsName,
        zsg.Tags,
        zsg.CoverImgUrl,
        zsg.DayMaxCount,
        zsg.DayMaxGoodsCount,
        zsg.SalePrice,
        zsg.OriginalPrice,
        zsg.MarketPrice
        from zl_servicegoods zsg
        left join zl_servicegoodscategory zsgc on zsg.GoodsCategoryID=zsgc.GoodsCategoryID
        where zsg.CheckStatus=2 and zsg.GoodsStatus=1 and zsg.IsDelete=0 and zsgc.CategoryStatus=1 and zsgc.IsDelete=0
        and zsgc.CheckStatus=2
        and zsg.HotelID=#{hotelId} and zsgc.BelongModule=#{belongModule}
        <if test='categoryName!=null and categoryName!="all"'>
            and zsgc.CategoryName=#{categoryName}
        </if>
        <if test='keyword!=null'>
            and zsg.GoodsName like concat('%',#{keyword},'%')
        </if>
        order by zsg.Sort asc,zsg.UpdateDate desc
    </select>

    <select id="findServicegoodsDetail" resultType="com.zhiliao.hotel.controller.servicegoods.vo.ServicegoodsListVo">
        select
            zsg.GoodsID,
            zsg.GoodsName,
            zsg.Tags,
            zsg.CoverImgUrl,
            zsg.DayMaxCount,
            zsg.DayMaxGoodsCount,
            zsg.SalePrice,
            zsg.OriginalPrice,
            zsg.MarketPrice,
            zsg.Content
        from zl_servicegoods zsg
        where zsg.CheckStatus=2 and zsg.GoodsStatus=1 and zsg.IsDelete=0 and zsg.GoodsID=#{goodsId}
    </select>

    <update id="updateServicegoodsVisitCount">
        update zl_servicegoods set VisitCount=VisitCount + 1 where GoodsID=#{goodsId}
    </update>

    <select id="findAllByHotelIdAndGoodsIds" resultMap="BaseResultMap">
        SELECT zsg.GoodsID, zsg.GoodsName, zsg.ApplyMaxCount, zsg.ApplyLimitCount,
        zsg.SalePrice, zsg.CoverImgUrl
        FROM zl_servicegoods zsg
        WHERE zsg.HotelID = #{hotelId} AND zsg.GoodsID IN (${goodsIds})
        AND zsg.IsDelete = 0 AND zsg.GoodsStatus = 1 AND zsg.CheckStatus = 2
    </select>

</mapper>