<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiliao.hotel.mapper.ZlServicegoodsMapper">
    <resultMap id="BaseResultMap" type="com.zhiliao.hotel.model.ZlServicegoods">
        <result column="GoodsID" jdbcType="INTEGER" property="goodsid" />
        <result column="HotelID" jdbcType="INTEGER" property="hotelid" />
        <result column="GoodsCategoryID" jdbcType="INTEGER" property="goodscategoryid" />
        <result column="CoverImgUrl" jdbcType="CHAR" property="coverimgurl" />
        <result column="GoodsName" jdbcType="CHAR" property="goodsname" />
        <result column="Tags" jdbcType="CHAR" property="tags" />
        <result column="Content" jdbcType="LONGVARCHAR" property="content" />
        <result column="GoodsStatus" jdbcType="TINYINT" property="goodsstatus" />
        <result column="ApplyLimitCount" jdbcType="INTEGER" property="applylimitcount" />
        <result column="Sort" jdbcType="INTEGER" property="sort" />
        <result column="IsDelete" jdbcType="BIT" property="isdelete" />
        <result column="CreateDate" jdbcType="INTEGER" property="createdate" />
        <result column="UpdateDate" jdbcType="INTEGER" property="updatedate" />
    </resultMap>

    <select id="findServicegoodsCategory" resultType="java.lang.String">
        select zsgc.CategoryName from zl_servicegoods zsg
        left join zl_servicegoodscategory zsgc on zsg.GoodsCategoryID=zsgc.GoodsCategoryID
        where zsg.GoodsStatus=1 and zsg.IsDelete=0 and zsgc.CategoryStatus=1 and zsgc.IsDelete=0
        and zsg.HotelID=#{hotelId} and zsgc.BelongModule=#{belongModule}
        group by zsgc.CategoryName
        order by zsgc.Sort asc,zsgc.UpdateDate desc
    </select>

    <select id="findServicegoodsList" resultType="com.zhiliao.hotel.controller.servicegoods.vo.ServicegoodsListVo">
        select
            zsg.GoodsID,
            zsg.GoodsName,
            zsg.Tags,
            zsg.CoverImgUrl
        from zl_servicegoods zsg
        left join zl_servicegoodscategory zsgc on zsg.GoodsCategoryID=zsgc.GoodsCategoryID
        where zsg.GoodsStatus=1 and zsg.IsDelete=0 and zsgc.CategoryStatus=1 and zsgc.IsDelete=0
        and zsg.HotelID=#{hotelId} and zsgc.BelongModule=#{belongModule}
        <if test='categoryName!="all"'>
            and zsgc.CategoryName=#{categoryName}
        </if>
        order by zsg.Sort asc,zsg.UpdateDate desc
    </select>

    <select id="findServicegoodsDetail" resultType="com.zhiliao.hotel.controller.servicegoods.vo.ServicegoodsListVo">
        select
            zsg.GoodsID,
            zsg.GoodsName,
            zsg.Tags,
            zsg.CoverImgUrl,
            zsg.Content
        from zl_servicegoods zsg
        where zsg.GoodsStatus=1 and zsg.IsDelete=0 and zsg.GoodsID=#{goodsId}
    </select>

</mapper>