<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiliao.hotel.mapper.ZlXcxMenuMapper">

    <sql id="selectColumn">
      MenuID,HotelID,MenuName,IconUrl,HaveBanner,ServiceOpenTime,MenuStatus,ComeFromID
    </sql>

    <select id="getMenuList" resultType="com.zhiliao.hotel.model.ZlXcxmenu">

        select  <include refid="selectColumn"/>
        from zl_xcxmenu zl where zl.HotelID=#{hotelId} and MenuStatus=1
        and IsDelete=0 order by CreateDate desc

    </select>

</mapper>