<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiliao.hotel.mapper.ZlXcxMenuMapper">

    <sql id="selectColumn">
      MenuID,HotelID,ParentID,MenuName,IconUrl,HaveBanner,ServiceOpenTime,MenuStatus,ComeFromID,ServiceTime,LinkUrl,IsFrontendShow,IsDelete,`Position`
    </sql>

    <select id="getMenuList" resultType="com.zhiliao.hotel.model.ZlXcxmenu">

        select
        <include refid="selectColumn"/>
        from zl_xcxmenu zl where (zl.HotelID=#{hotelId} and MenuStatus=1
        and ComeFromID=1 )
        or (HotelID=0 and ParentID=0 AND MenuStatus = 1 AND ComeFromID = 1 )
        and IsFrontendShow=1 and IsDelete=0 order by CreateDate desc

    </select>

    <select id="getBusinessHours" resultType="com.zhiliao.hotel.model.ZlXcxmenu">
        SELECT
        <include refid="selectColumn"/>
        FROM
        zl_xcxmenu
        WHERE MenuID = #{menuId}
        AND IsFrontendShow = 1
        AND IsDelete = 0
        AND ComeFromID = 1
        AND MenuStatus = 1
    </select>

</mapper>
